{{ header }}
<div class="page-wrapper">
		<main>
					<img src="/catalog/view/theme/default/image/block1/bg.png" alt="" class="block__bg main__bg">
				<header>
					<div class="container">
					<div class="header__flex">
						<div class="header__logo"><a href="/"><img src="/catalog/view/theme/default/image/logo.png" alt=""></a>
						<div class="title">Изготовление кухонь на заказ <br>в Москве и Московской области</div>
						</div>
						<div class="header__right">
						<div class="header__contacts">
							<div class="header__contact"><a href="+74951396339"><img src="/catalog/view/theme/default/image/icons/1.png" alt=""><span class="mobitel" data-tel="+74951396339">+7 (495) 139-63-39</span></a></div>
							<!--<div class="header__contact"><img src="/catalog/view/theme/default/image/icons/2.png" alt=""/><span>2233553@mail.ru</span></div>-->
							<div class="header__contact insta"><a href="https://www.instagram.com/pravilnie_kuhni/" target="_blank"><img src="/catalog/view/theme/default/image/icons/insta20.svg" alt=""><span>@pravilnie_kuhni </span> </a></div>
						</div>
						<button class="button callback-btn">Заказать звонок</button>
						</div>
						<div class="mobile-menu__button">
						<div class="box"> 
							<div class="line line1"></div> 
							<div class="line line2"></div>
							<div class="line line3"></div> 
						</div><span>Меню</span>
						</div>
					</div>
					</div>
				</header>
				<nav>
				{{ menu }}
				</nav>
			{{ content_top }}
		</main>
		<section class="block10">
			{{ block_capacity }}
		</section>
		{{ content_bottom }}
</div>
{{ footer }}