{{ header }}
	<main>
			<img src="/catalog/view/theme/default/image/block1/bg.png" alt="" class="block__bg main__bg">
          <header>
            <div class="container">
              <div class="header__flex">
                <div class="header__logo"><a href="/"><img src="/catalog/view/theme/default/image/logo.png" alt=""></a>
                  <div class="title">Изготовление кухонь на заказ <br>в Москве и Московской области</div>
                </div>
                <div class="header__right">
                  <div class="header__contacts">
                    <div class="header__contact"><a href="+74951396339"><img src="/catalog/view/theme/default/image/icons/1.png" alt=""><span class="mobitel" data-tel="+74951396339">+7 (495) 139-63-39</span></a></div>
                    <!--<div class="header__contact"><img src="/catalog/view/theme/default/image/icons/2.png" alt=""/><span>2233553@mail.ru</span></div>-->
                    <div class="header__contact insta"><a href="https://www.instagram.com/pravilnie_kuhni/" target="_blank"><img src="/catalog/view/theme/default/image/icons/insta20.svg" alt=""><span>@pravilnie_kuhni </span> </a></div>
                  </div>
                  <button class="button callback-btn">Заказать звонок</button>
                </div>
                <div class="mobile-menu__button">
                  <div class="box"> 
                    <div class="line line1"></div> 
                    <div class="line line2"></div>
                    <div class="line line3"></div> 
                  </div><span>Меню</span>
                </div>
              </div>
            </div>
          </header>
		  <nav>
          {{ menu }}
		  </nav>
      {{ content_top }}
	
		<section class="block9">
			<div class="container">
				<h2 class="section__title">Собственное производство кухонь<br>в Москве и Московской области</h2>
				<div class="section__descriptor">Благодаря отлаженному процессу производства мы предоставляем конкурентные <br>цены и всегда в ответе за качество нашей продукции</div>
				<div class="block9__flex">
					<div class="block9__slider owl-carousel owl-loaded">
					<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1140px;"><div class="owl-item active" style="width: 570px;"><a href="/catalog/view/theme/default/image/block9/1.png" data-lightbox="block9" style="background-image: url(&quot;/catalog/view/theme/default/image/block9/1.png&quot;);" class="block9__slide"></a></div><div class="owl-item" style="width: 570px;"><a href="/catalog/view/theme/default/image/block9/1.png" data-lightbox="block9" style="background-image: url(&quot;/catalog/view/theme/default/image/block9/1.png&quot;);" class="block9__slide"></a></div></div></div><div class="owl-nav"><div class="owl-prev disabled"></div><div class="owl-next"></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
					<div class="block9__right">
						<h3 class="title">Производим кухни с 1999 года</h3>
						<div class="text">Наша цена ниже чем у конкурентов! <br>Мы можем себе это позволить ,потому что производим кухни на собственном производстве и не переплачиваем посредникам . На нашей фабрике внедрена система контроля качества продукции на каждом этапе ее изготовления.<!--  <br><br>Все специалисты фабрики прошли тщательный отбор и имеют опыт минимум 5 лет, благодаря чему качество наших кухонь на высоте! --></div>
					</div>
				</div>
			</div>
		</section>
		</main>

		<section class="block10">
			{{ block_capacity }}
		</section>
		<section class="block11">
		<section class="block12"><img src="/catalog/view/theme/default/image/block12/bg.png" alt="" class="block__bg block12__bg">
			<div class="container"><img src="/catalog/view/theme/default/image/block12/4.png" alt="" class="block12__img">
				<div class="section__title">Закажите бесплатный выезд<br>дизайнера / замерщика</div>
				<div class="block1__triggers block12__triggers">
					<div class="block1__item">
						<div class="block1__item__img"><img src="/catalog/view/theme/default/image/block12/1.png" alt=""></div>
						<div class="text">Приедет с полным каталогом <br>и образцами материалов </div>
					</div>
					<div class="block1__item">
						<div class="block1__item__img"><img src="/catalog/view/theme/default/image/block12/2.png" alt=""></div>
						<div class="text">Сделает правильный замер помещения <br>где будет располагаться гарнитур</div>
					</div>
					<div class="block1__item">
						<div class="block1__item__img"><img src="/catalog/view/theme/default/image/block12/3.png" alt=""></div>
						<div class="text">Произведёт расчёт стоимости <br>в рамках вашего бюджета</div>
					</div>
				</div>
				<form class="block12__form">
					<div class="input">
						<div class="input__img"><img src="/catalog/view/theme/default/image/icons/3.png" alt=""></div>
						<input type="text" name="name" placeholder="Введите имя">
					</div>
					<div class="input">
						<div class="input__img"><img src="/catalog/view/theme/default/image/icons/4.png" alt=""></div>
						<input type="text" name="phone" placeholder="Ваш телефон" required="required">
					</div>
					<button class="button">Вызвать замерщика БЕСПЛАТНО</button>
					<input type="hidden" name="type" value="Вызов замерщика">
				</form>
			</div>
		</section>
		<section class="block13">
			<div class="container">
				<div class="block13__flex">
					<div class="block13__left">
						<h3 class="section__title">Посетите наш мебельный салон! <br><span style="font-size:28px;line-height:1.2em">Рассчитаем точную стоимость<br>Вашей кухни и покажем наши<br>качественные материалы</span></h3>
						<div class="text">Там вы сможете пообщаться с нашими дизайнерами, обсудить детали вашей будущей кухни, <br>а так же посмотреть на другую мебель </div>
						<div class="block13__item"><img src="/catalog/view/theme/default/image/block13/1.png" alt=""><span>Мы находимся по адресу: <br><b>г. Москва, ул.Свободы, д.29, <br>ТЦ "Свобода Мебель", <br>2 этаж, место 18</b></span></div><b>
						<button class="button callback-btn">Посетить наш салон</button>
					</b></div><b>
					<div style="background-image: url('/catalog/view/theme/default/image/block13/2.png');" class="block13__right"></div>
				</b></div><b>
			</b></div><b>
		</b></section>
			<img src="/catalog/view/theme/default/image/block11/bg.png" alt="" class="block__bg">
			<div class="container">
				<h3 class="section__title">Благодаря оптимизированному производству<br>срок изготовления кухонного гарнитура составляет<br>всего от 7 до 20 дней</h3>
				<div class="block11__block"><img src="/catalog/view/theme/default/image/block11/1.png" alt="">
					<div class="block11__item">
						<div class="text">7-20 дней</div>
					</div>
					</div>
				</div>
</div>
{{ map }}
{{ footer }}