{# {% if categories %}
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %}  #}


<div class="container"><img src="/catalog/view/theme/default/image/close.png" alt="" class="mobile-menu__close">
    <div class="custom-menu">
        <ul>
            <li><a href="/">главная</a></li>
             {%for categorie_level1 in categories %}
            <li class="menu-dropdown-li">
                <a href="{{ categorie_level1.href }}">{{ categorie_level1.name }}</a>
                <div class="menu-dropdown-ul" style="display: none;">
                    <div class="menu-dropdown-ul-inner">
                    {%for categorie_level2 in categorie_level1.children %}
                    {% if categorie_level2.children %}
                            <div class="md-ul-item">
                                <div class="md-ul-item-title">{{ categorie_level2.name }}</div>
                            {%for categorie_level3 in categorie_level2.children %}
                                    <div class="md-ul-item-list">
                                        <ul class="md-ul-item-list-ul">
                                            <li><a href="{{ categorie_level3.href }}">{{ categorie_level3.name }}</a></li>
                                        </ul>
                                    </div>
                            {% endfor %}
                            </div>
                            {% endif %}
                     {% endfor %}
                    </div>
                </div>
            </li>
            {% endfor %}
            <li><a href="/furniture">корпусная мебель</a></li>
            <li><a href="/sales1">акции</a></li>
            <li><a href="/quiz">Конструктор</a></li>
            <li><a href="/payment">Оплата</a></li>
            <li><a href="/about">о компании</a></li>
            <li><a href="" class="contacts-btn">контакты</a></li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.menu-dropdown-li').hover(function() {
                $(this).find('.menu-dropdown-ul').stop().fadeIn();
            },
            function() {
                $(this).find('.menu-dropdown-ul').stop().fadeOut();
            });
    });
</script>