{# {% if categories %}
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %}  #}


<div class="container"><img src="/catalog/view/theme/default/image/close.png" alt="" class="mobile-menu__close">
    <div class="custom-menu">
        <ul>
            <li><a href="/">главная</a></li>
            <li class="menu-dropdown-li">


                {% for categorie_level1 in categories %}
                    <a href="{{ categorie_level1.href }}">{{ categorie_level1.name }}</a>
                    <div class="menu-dropdown-ul" style="display: none;">
                        <div class="menu-dropdown-ul-inner">

                            {% set item_div_start = true %}
                            {% set item_div_close_first = true %}
                            {% set item_div_close_second = false %}
                            {% set before_item_column = '1' %}

                            {% for categorie_level2 in categorie_level1.children %}

                            {% if before_item_column == '1' and categorie_level2.column == '2' %}
                                {% set item_div_start = true %}
                                {% set item_div_close_first = false %}
                                {% set item_div_close_second = false %}
                            {% endif %}
                            {% if before_item_column == '2' and categorie_level2.column == '2' %}
                                {% set item_div_start = false %}
                                {% set item_div_close_first = false %}
                                {% set item_div_close_second = false %}
                            {% endif %}
                            {% if before_item_column == '2' and categorie_level2.column == '1' %}
                                {% set item_div_start = true %}
                                {% set item_div_close_first = true %}
                                {% set item_div_close_second = true %}
                            {% endif %}
                            {% if before_item_column == '1' and categorie_level2.column == '1' %}
                                {% set item_div_start = true %}
                                {% set item_div_close_first = true %}
                                {% set item_div_close_second = false %}
                            {% endif %}


                                {% if item_div_close_second %}
                                </div>
                                {% endif %}
                                {% if item_div_start %}
                                <div class="md-ul-item">
                                {% endif %}
                                    <div class="md-ul-item-title"><a href="{{ categorie_level2.href }}">{{ categorie_level2.name }}</a></div>
                                    <div class="md-ul-item-list">
                                        <ul class="md-ul-item-list-ul">
                                            {% for categorie_level3 in categorie_level2.children %}
                                                <li><a href="{{ categorie_level3.href }}">{{ categorie_level3.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% if item_div_close_first %}
                                </div>
                                {% endif %}


                            {% set before_item_column = categorie_level2.column %}
                            {% endfor %}


                        </div>
                    </div>
                {% endfor %}

            </li>
            <li><a href="/furniture">корпусная мебель</a></li>
            <li><a href="/sales1">акции</a></li>
            <li><a href="/quiz">Конструктор</a></li>
            <li><a href="/payment">Оплата</a></li>
            <li><a href="/about">о компании</a></li>
            <li><a href="/#contact" class="contacts-btn">контакты</a></li>
        </ul>
    </div>
</div>