{# {% if categories %}
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %}  #}


<div class="container"><img src="/catalog/view/theme/default/image/close.png" alt="" class="mobile-menu__close">
    <div class="custom-menu">
        <ul>
            <li><a href="/">главная</a></li>
            <li class="menu-dropdown-li">
                <a href="/projects/">кухни</a>
                <div class="menu-dropdown-ul" style="display: none;">
                    <div class="menu-dropdown-ul-inner">
                        <div class="md-ul-item">
                            <div class="md-ul-item-title">По материалу</div>
                            <div class="md-ul-item-list">
                                <ul class="md-ul-item-list-ul">
                                    <li><a href="#">Массив дерева</a></li>
                                    <li><a href="#">МДФ</a></li>
                                    <li><a href="#">МДФ Эмаль</a></li>
                                    <li><a href="#">Кухни из шпона</a></li>
                                    <li><a href="#">Акрил</a></li>
                                    <li><a href="#">Из пластика</a></li>
                                    <li><a href="#">Глянцевые</a></li>
                                    <li><a href="#">Матовые</a></li>
                                    <li><a href="#">С патиной</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="md-ul-item">
                            <div class="md-ul-item-title">По стилю</div>
                            <div class="md-ul-item-list">
                                <ul class="md-ul-item-list-ul">
                                    <li><a href="#">Современные</a></li>
                                    <li><a href="#">Классические</a></li>
                                    <li><a href="#">Неоклассика</a></li>
                                    <li><a href="#">Лофт</a></li>
                                    <li><a href="#">Прованс</a></li>
                                    <li><a href="#">Кантри</a></li>
                                    <li><a href="#">Хай тек</a></li>
                                    <li><a href="#">Модерн</a></li>
                                    <li><a href="#">Минимализм</a></li>
                                    <li><a href="#">В скандинавском стиле</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="md-ul-item">
                            <div class="md-ul-item-title">По фасаду</div>
                            <div class="md-ul-item-list">
                                <ul class="md-ul-item-list-ul">
                                    <li><a href="#">Кухни без ручек</a></li>
                                    <li><a href="#">С рамочными фасадами</a></li>
                                    <li><a href="#">С радиусными фасадами</a></li>
                                    <li><a href="#">С декоративной фрезеровкой</a></li>
                                </ul>
                            </div>
                            <div class="md-ul-item-title">По цене</div>
                            <div class="md-ul-item-list">
                                <ul class="md-ul-item-list-ul">
                                    <li><a href="#">Эконом класса</a></li>
                                    <li><a href="#">Элитные</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="md-ul-item">
                            <div class="md-ul-item-title">По форму</div>
                            <div class="md-ul-item-list">
                                <ul class="md-ul-item-list-ul">
                                    <li><a href="#">Прямые</a></li>
                                    <li><a href="#">Угловые</a></li>
                                    <li><a href="#">П-образные</a></li>
                                    <li><a href="#">С барной стойкой</a></li>
                                    <li><a href="#">С островом</a></li>
                                    <li><a href="#">Встроенные</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="md-ul-item">
                            <div class="md-ul-item-title">По цвету</div>
                            <div class="md-ul-item-list">
                                <ul class="md-ul-item-list-ul">
                                    <li><a href="#">Светлые</a></li>
                                    <li><a href="#">Тёмные</a></li>
                                    <li><a href="#">Белые</a></li>
                                    <li><a href="#">Голубые</a></li>
                                    <li><a href="#">Зелёные</a></li>
                                    <li><a href="#">Красные</a></li>
                                    <li><a href="#">Серые</a></li>
                                    <li><a href="#">Черные</a></li>
                                    <li><a href="#">Черно-белые</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="/furniture/">корпусная мебель</a></li>
            <li><a href="/sales/">акции</a></li>
            <li><a href="/quiz/">Конструктор</a></li>
            <li><a href="/payment/">Оплата</a></li>
            <li><a href="/about/">о компании</a></li>
            <li><a href="" class="contacts-btn">контакты</a></li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.menu-dropdown-li').hover(function() {
                $(this).find('.menu-dropdown-ul').stop().fadeIn();
            },
            function() {
                $(this).find('.menu-dropdown-ul').stop().fadeOut();
            });
    });
</script>