{{ header }}
	<main>
          <header>
            <div class="container">
              <div class="header__flex">
                <div class="header__logo"><a href="/"><img src="/catalog/view/theme/default/image/logo.png" alt=""></a>
                  <div class="title">Изготовление кухонь на заказ <br>в Москве и Московской области</div>
                </div>
                <div class="header__right">
                  <div class="header__contacts">
                    <div class="header__contact"><a href="+74951396339"><img src="/catalog/view/theme/default/image/icons/1.png" alt=""><span class="mobitel" data-tel="+74951396339">+7 (495) 139-63-39</span></a></div>
                    <!--<div class="header__contact"><img src="/catalog/view/theme/default/image/icons/2.png" alt=""/><span>2233553@mail.ru</span></div>-->
                    <div class="header__contact insta"><a href="https://www.instagram.com/pravilnie_kuhni/" target="_blank"><img src="/catalog/view/theme/default/image/icons/insta20.svg" alt=""><span>@pravilnie_kuhni </span> </a></div>
                  </div>
                  <button class="button callback-btn">Заказать звонок</button>
                </div>
                <div class="mobile-menu__button">
                  <div class="box"> 
                    <div class="line line1"></div> 
                    <div class="line line2"></div>
                    <div class="line line3"></div> 
                  </div><span>Меню</span>
                </div>
              </div>
            </div>
          </header>
		  <nav class="radiant-bg">
          {{ menu }}
		  </nav>
  </main>
  <div class="block20">
			<div class="container">
				<div class="block20__flex">
					<div class="block20__left">
						<div class="section__title">О компании "Правильные кухни"</div>
						<div class="text">Компания «Правильные кухни» существует с 1999 года и предлагает своим клиентам богатый выбор моделей и дизайнов кухонной мебели. У нас вы можете заказать кухню, украсив свой дом оригинальной и функциональной мебелью. Кроме того, мы предлагаем изготовление корпусной мебели на заказ, что позволит вам создать идеальный интерьер любого помещения, который будет максимально соответствовать дизайну вашего дома и удовлетворит все пожелания в отношении функциональности. Кухни могут быть полностью изготовлены по индивидуальным параметрам, ведь в каждом доме и квартире это помещение может иметь различные габариты. <br><br>Покупая  мебель у нас, вы гарантированно получаете качественный товар, который прослужит вам долгие годы и будет радовать своим дизайном и техническими возможностями. Нашим покупателям мы предлагаем кухни только из надежных современных материалов, которые отлично подходят именно для данного типа мебели. Заказывая мебель от компании «Правильные кухни», вы делаете верный выбор и можете быть уверены в качестве нашей продукции.</div>
					</div>
					<a href="/catalog/view/theme/default/image/block20/1.jpeg" data-lightbox="block20" style="background-image: url(&quot;/catalog/view/theme/default/image/block20/1.jpeg&quot;);" class="block20__right"></a>
				</div>
				<div class="block20__flex2">
					<a href="/catalog/view/theme/default/image/block20/2.jpeg" data-lightbox="block20" style="background-image: url(&quot;/catalog/view/theme/default/image/block20/2.jpeg&quot;);" class="block20__img"></a>
					<a href="/catalog/view/theme/default/image/block20/3.jpeg" data-lightbox="block20" style="background-image: url(&quot;/catalog/view/theme/default/image/block20/3.jpeg&quot;);" class="block20__img"></a>
					<a href="/catalog/view/theme/default/image/block20/4.jpeg" data-lightbox="block20" style="background-image: url(&quot;/catalog/view/theme/default/image/block20/4.jpeg&quot;);" class="block20__img"></a>
				</div>
			</div>
		</div>
		<section class="block10 block-3d">
			{{ block_capacity }}
		</section>
		<section class="block13">
{{ cost }}
		</section>
{{ footer }}