<section class="bloсk5"><img src="/catalog/view/theme/default/image/block5/bg.png" alt="" class="block5__bg">
    <div class="container">
        <h2 class="section__title">Посмотрите на кухни изготовленные нашей фабрикой</h2>
        <div class="block5__flex">

            <div class="pr-catalog row">
                {% set i = 0 %}
                {% for product in products %}

                    <div class="product-layout col-xs-12 col-sm-6 col-lg-4 light_product">
                        <div class="product-thumb">
                            {#<div class="pr-catalog-stickers">#}
                                {#<div class="pr-catalog-sticker new">Новинка</div>#}
                                {#<div class="pr-catalog-sticker discount">-5%</div>#}
                                {#<div class="pr-catalog-sticker bestseller">Хит</div>#}
                            {#</div>#}
                            <div class="pr-catalog-stickers">
                                {% if product.new %}  <div class="pr-catalog-sticker new">Новинка</div>{% endif %}
                                {% if product.discount %} <div class="pr-catalog-sticker discount">-{{ product.discount }}%</div>{% endif %}
                                {% if product.bestseller %} <div class="pr-catalog-sticker bestseller">Хит</div>{% endif %}
                            </div>

                            <div class="image">
                                <a href="{{ product.href }}">
                                    <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
                                </a>
                            </div>
                            <div class="pr-catalog-detail">
                                <div class="caption">
                                    <h3><a href="{{ product.href }}">{{ product.name }}</a></h3>
                                    <div class="pr-catalog-option-items">
                                        <div class="pr-catalog-option-item active">Любой цвет</div>
                                        <div class="pr-catalog-option-item">Любые размеры и формы</div>
                                    </div>

                                    <div class="pr-catalog-attrs">
                                        {% if product.attribute_groups %}
                                            {% for attribute_group in product.attribute_groups %}
                                                {% for attribute in attribute_group.attribute %}
                                                    {# 17 - Фасады, 18 - Стиль, 19 - Цвет #}
                                                    {%
                                                    if attribute.attribute_id == 17
                                                    or
                                                    attribute.attribute_id == 18
                                                    or
                                                    attribute.attribute_id == 19
                                                    %}
                                                        <div class="pr-catalog-attr">
                                                            <div class="pr-catalog-attr-name">{{ attribute.name }}</div>
                                                            <div class="pr-catalog-attr-text">{{ attribute.text }}</div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}

                                        {% if product.price %}
                                            <div class="pr-catalog-attr price">
                                                <div class="pr-catalog-attr-name">Цена</div>
                                                {% if not product.special %}
                                                    <div class="price-new pr-catalog-attr-text">от {{ product.price }} / метр</div>
                                                {% else %}
                                                    <div class="price-new pr-catalog-attr-text">от {{ product.special }} / метр</div>
                                                    {#<span class="price-old">{{ product.price }}</span>#}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="pr-catalog-btn-wrap">
                                    <button onclick="call_popup_2_show()" class="order-product button">Заказать расчет</button>
                                    <a href="{{ product.href }}" class="pr-catalog-btn-link button">Калькулятор</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {#<div id="show_more_html" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>#}
            </div>



            <div class="block5__link"><a href="/projects/">
                    <button class="button">Больше готовых кухонь</button>
                </a>
            </div>
        </div>
    </div>
</section>