{{ header }}
	<main>
          <header>
            <div class="container">
              <div class="header__flex">
                <div class="header__logo"><a href="/"><img src="/catalog/view/theme/default/image/logo.png" alt=""></a>
                  <div class="title">Изготовление кухонь на заказ <br>в Москве и Московской области</div>
                </div>
                <div class="header__right">
                  <div class="header__contacts">
                    <div class="header__contact"><a href="+74951396339"><img src="/catalog/view/theme/default/image/icons/1.png" alt=""><span class="mobitel" data-tel="+74951396339">+7 (495) 139-63-39</span></a></div>
                    <!--<div class="header__contact"><img src="/catalog/view/theme/default/image/icons/2.png" alt=""/><span>2233553@mail.ru</span></div>-->
                    <div class="header__contact insta"><a href="https://www.instagram.com/pravilnie_kuhni/" target="_blank"><img src="/catalog/view/theme/default/image/icons/insta20.svg" alt=""><span>@pravilnie_kuhni </span> </a></div>
                  </div>
                  <button class="button callback-btn">Заказать звонок</button>
                </div>
                <div class="mobile-menu__button">
                  <div class="box"> 
                    <div class="line line1"></div> 
                    <div class="line line2"></div>
                    <div class="line line3"></div> 
                  </div><span>Меню</span>
                </div>
              </div>
            </div>
          </header>
		  <nav class="radiant-bg">
          {{ menu }}
		  </nav>
  </main>
  <section class="blcok5 block23">
          {{ block_category }}
  </section>
  <section class="block10 block-3d">
        {{ block_capacity }}
    </section>
	<div class="block20">
        {{ block_payment }}
    </div>
	<section class="block13">
        {{ cost }}
    </b></section>
    {{ map }}
  
  {{ footer }}