{{ header }}
	<main>
          <header>
            <div class="container">
              <div class="header__flex">
                <div class="header__logo"><a href="/"><img src="/catalog/view/theme/default/image/logo.png" alt=""></a>
                  <div class="title">Изготовление кухонь на заказ <br>в Москве и Московской области</div>
                </div>
                <div class="header__right">
                  <div class="header__contacts">
                    <div class="header__contact"><a href="+74951396339"><img src="/catalog/view/theme/default/image/icons/1.png" alt=""><span class="mobitel" data-tel="+74951396339">+7 (495) 139-63-39</span></a></div>
                    <!--<div class="header__contact"><img src="/catalog/view/theme/default/image/icons/2.png" alt=""/><span>2233553@mail.ru</span></div>-->
                    <div class="header__contact insta"><a href="https://www.instagram.com/pravilnie_kuhni/" target="_blank"><img src="/catalog/view/theme/default/image/icons/insta20.svg" alt=""><span>@pravilnie_kuhni </span> </a></div>
                  </div>
                  <button class="button callback-btn">Заказать звонок</button>
                </div>
                <div class="mobile-menu__button">
                  <div class="box"> 
                    <div class="line line1"></div> 
                    <div class="line line2"></div>
                    <div class="line line3"></div> 
                  </div><span>Меню</span>
                </div>
              </div>
            </div>
          </header>
		  <nav class="radiant-bg">
          {{ menu }}
		  </nav>
  </main>
  <section class="block16">
			<div class="container">
				<div class="section__title">Корпусная мебель от фабрики <br>в Москве, <span>до 30% дешевле рынка</span></div>
				<div class="block16__flex">
					<div style="background-image: url('/catalog/view/theme/default/image/block16/1.png');" class="block16__item" data-case="1">
						<div class="title"><span>Шкафы-купе</span></div>
					</div>
					<div style="background-image: url('/catalog/view/theme/default/image/block16/2.png');" class="block16__item" data-case="2">
						<div class="title"><span>Гостинные</span></div>
					</div>
					<div style="background-image: url('/catalog/view/theme/default/image/block16/3.png');" class="block16__item" data-case="3">
						<div class="title"><span>Прихожие</span></div>
					</div>
					<div style="background-image: url('/catalog/view/theme/default/image/block16/4.png');" class="block16__item" data-case="4">
						<div class="title"><span>Спальни</span></div>
					</div>
					<div style="background-image: url('/catalog/view/theme/default/image/block16/5.png');" class="block16__item" data-case="5">
						<div class="title"><span>Ванные</span></div>
					</div>
					<div style="background-image: url('/catalog/view/theme/default/image/block16/6.png');" class="block16__item" data-case="6">
						<div class="title"><span>Детские</span></div>
					</div>
					<div style="background-image: url('/catalog/view/theme/default/image/block16/7.png');" class="block16__item" data-case="7">
						<div class="title"><span>Двери</span></div>
					</div>
					<div style="background-image: url('/catalog/view/theme/default/image/block16/8.png');" class="block16__item" data-case="8">
						<div class="title"><span>Гардеробные системы</span></div>
					</div>
				</div>
			</div>
		</section>
<section class="block6">
{{ full_catalog }}
</section>
<section class="block13">
{{ cost }}
</section>
  {{ footer }}